[flake8]
ignore = E203, E501, W503
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist
    apps.py,
    tests.py,
    test.py,
max-line-length = 120
per-file-ignores =
    backend/backend/settings/*:F405 F403 F401,
