#DEBUG=True
#SECRET_KEY=*h*7hx!v*6$-a3*5+5()@dc$q8q%cv0g=y4bs(r2bg+v+o1ay4
#SIGNING_KEY=hw8QMcBpdn6YlLI6Kxpk44jmAZokchyOqIYFhR5bgMA5DNbwL0s
#ALLOWED_HOSTS=
#DJANGO_SETTINGS_MODULE=backend.settings.local
#DOMAIN=localhost:8080
#
#DJANGO_SUPERUSER_FIRST_NAME=admin
#DJANGO_SUPERUSER_LAST_NAME=admin
#DJANGO_SUPERUSER_EMAIL=admin@gmail.com
#DJANGO_SUPERUSER_PASSWORD=1
#
## Email
#EMAIL_HOST_USER=
#EMAIL_HOST_PASSWORD=
#
#SOCIAL_AUTH_ALLOWED_REDIRECT_URIS=
## Google oauth2
#SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
#SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=
#
## Celery
#CELERY_BROKER_URL=redis://redis:6379/0
#CELERY_RESULT_BACKEND=django-db
#CELERY_CACHE_BACKEND=django-cache
#
## Cache
#REDIS_CACHE_LOCATION=redis://redis:6379/1
